/****************/
/* ANIMATION */

.container {
  width: 90%;
  height: 60%;
  background: linear-gradient(to right bottom, #181818, #e4440e);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 2rem;
  box-shadow: 0rem 5.6rem 7.2rem -3rem, rgba(50, 55, 65, 0.66);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container .card {
  width: 40%;
  height: 90%;
  /* position: absolute; */
  margin: auto 0;
  padding: 3vh 2vw;
  box-sizing: border-box;
  box-shadow: 0rem 0.5rem 1rem rgba(7, 7, 7, 0.226);
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.container .card-1 {
  background-image: linear-gradient(
      to bottom,
      rgba(34, 34, 34, 0.048),
      rgba(34, 34, 34, 0.596)
    ),
    url("img/massage.jpg");
  /* left: 12rem; */
  cursor: pointer;
}

.container .card-2 {
  background-image: linear-gradient(
      to bottom,
      rgba(34, 34, 34, 0.048),
      rgba(34, 34, 34, 0.596)
    ),
    url("img/skincare.jpg");
  /* right: 12rem; */
  cursor: pointer;
}

.container .card p {
  /* position: absolute; */
  color: #fff;
  font-size: 1.6rem;
}

.container .card button {
  /* position: absolute; */
  padding: 1rem;
  color: #fff;
  background: transparent;
  border: 0.2rem solid #e4440e;
  border-radius: 99em;
  outline: none;
}

.title {
  font-size: 3.2rem;
  font-weight: 500;
  color: #fff;
  -webkit-text-stroke: 3px #e4440e;
  color: transparent;
  text-align: center;
  margin-top: 10vh;
}

.container .card h3 {
  bottom: 0;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
}

.container .card .left,
.container .card .right {
  color: #fff;
  width: 2rem;
  height: 2rem;
  fill: #fff;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    height: 60%;
    width: 90%;
  }

  .container .card {
    width: 90%;
    height: 40%;
  }
}
