/****************/
/*NAVIGATION */

header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 10vh;
  padding: 1vh 2vw;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 10;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vh;
}

header a,
header a:visited {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  margin-inline-end: 0.75rem;
  color: #fff;
}

@media screen and (max-width: 600px) {
  header a {
    font-size: 1rem;
  }
}
