* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
  /* font-family: 'PT Sans Caption', sans-serif; */
}

html {
  font-size: 62.5%;
}

body {
  font-family: "JetBrains Mono", monospace;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  min-height: 100vh;
  background: #181818;
  /* background: linear-gradient(315deg, #000000, #015668); */
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
  /* font-family: 'PT Sans Caption', sans-serif; */
}

html {
  font-size: 62.5%;
}
